 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
  }
main {
    flex: 1 0 auto;
  }
body{
	font-family: 'Roboto Condensed', sans-serif;
}
p{
    text-align: justify;
}
.title{
	font-size: 24px;
	color: 
}e