body 
{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #fafafa;
}

main 
{
	flex: 1 0 auto;
}

nav
{
	background-color: #26A69A;
}

.page-footer
{
	background-color: #26A69A;
}

html
{
	font-family: 'Work Sans', sans-serif;
}

p
{
	text-align: justify;
}

a
{
	color: #FF1800;
}

.carousel .carousel-item
{
	height: 40%;
}

.btn-footer
{
	width: 100%;
	margin-top: 10px;
}

.btn-facebook
{
	background-color: #3b5998;
}

.btn-twitter
{
	background-color: #00aced;
}

.btn-instagram
{
	background-color: #8a3ab9;
}

.btn-youtube
{
	background-color: #b31217;
}

.btn-goomaps
{
	background-color: #6F4C46;
}
.btn-git
{
	background-color: #000000;
}

.btn-ingresar
{
	background-color: #31B404;
}

.btn-salir
{
	background-color: #FA5858;
}

.btn-ingresar:hover
{
	background-color: #BCF5A9;
}
.btn-salir:hover
{
	background-color: #F5A9A9;
}

.btn-git:hover
{
	background-color: #424242;
}

.btn-facebook:hover
{
	background-color: #4F78D4;
}

.btn-twitter:hover
{
	background-color: #86D5FF;
}

.btn-instagram:hover
{
	background-color: #E184FF;
}

.btn-youtube:hover
{
	background-color: #FF5A54;
}

.btn-goomaps:hover
{
	background-color: #A67167;
}

.footer-small
{
	font-size: x-small;
}

.brand-logo 
{
    display: inline-block;
    height: 100%;
}

.brand-logo>img 
{
    vertical-align: middle;
    align-self: center;
}

.parallax-img
{
	filter: blur(25px);
}

.btn-basico
{
	background-color: #E9EE00;
	color: black;
}

.btn-intermedio
{
	background-color: #FAA400;
	color: black;
}

.btn-avanzado
{
	background-color: #EA6E6C;
	color: black;
}

.carousel-img
{
	height: 200%;
	width: 200%;
}

.btn-temario
{
	margin-top: 20px;
}

.cards-title
{
	font-size: 125%;
}

.botones-container
{
	padding-top: 40px;
	padding-bottom: 40px;
}

.card
{
	
	margin-top: 35px;
	margin-bottom: 35px;
}